.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 40%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 40% 10px 10px; }

.ui-timepicker-div .ui-slider {
    position: relative;
    text-align: left;
}
.ui-timepicker-div .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
}
.ui-timepicker-div .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
}

/* support: IE8 - See #6727 */
.ui-timepicker-div .ui-slider.ui-state-disabled .ui-slider-handle,
.ui-timepicker-div .ui-slider.ui-state-disabled .ui-slider-range {
    filter: inherit;
}

.ui-timepicker-div .ui-slider-horizontal {
    height: 10px;
    background: #21759B;
}
.ui-timepicker-div .ui-slider-horizontal .ui-slider-handle {
    top: -3px;
    margin-left: -5px;
    background: #fff;
    border: solid 1px #808080;
    border-radius: 3px;
}
.ui-timepicker-div .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}
.ui-timepicker-div .ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}
.ui-timepicker-div .ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}