.tr-builder {
  position: relative;

  &:after {
    content:'';
    display: block;
    clear: both;
    height: 0;
  }

  .tr-builder-add-button {
    width: 100%;
  }

  .controls {
    float: left;

    .tr-components {
      width: 120px;

      li {
        border: 1px solid #e5e5e5;
        padding: 2px;
        text-align: center;
        position: relative;
        background: #fff;
        list-style: none;
        margin: 10px 0;
        min-height: 55px;
        cursor: pointer;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          max-width: 100%;
          height: auto;
          display: block;
        }

        .tr-builder-component-title {
          position: absolute;
          left: 0;
          bottom: 0;
          opacity: .9;
          background: #fff;
          padding: 5px;
          border-color: #5b9dd9;
          width: 100%;
          z-index: 10;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
        }

        &.active {
          border-color: #5b9dd9;
          box-shadow: 0 1px 3px 1px #5b9dd9;
          color: #5b9dd9;
        }

        span {
          display: none;
        }

        .remove {
          font-family: dashicons;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          position: absolute;
          text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
          text-align: center;
          text-decoration: none;
          color: #A00;
          top: -8px;
          right: -8px;
          z-index: 11;
          border: solid #DFDFDF 1px;
          border-radius: 25px;
          background: #fff;
          font-size: 16px;
          line-height: 16px;
          height: 20px;
          width: 20px;
          padding: 3px;
          vertical-align: middle;
          display: none;

          /* Better Font Rendering =========== */
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;

          &:hover {
            color: red;
          }

          &:before {
            -webkit-font-smoothing: antialiased;
            font: normal 20px/1 'dashicons';
            content: "\f335";
          }

        }

        &:hover span {
          display: block;
        }

      }

    }
  }

  .tr-frame-fields {
    margin-left:  135px;
  }

  .tr-builder-select {
    flex-flow: wrap;
    display: none;
    position: absolute;
    border-radius: 3px;
    z-index: 1000;
    top: 35px;
    left: 0;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 402px;
    background: #eee;
    border: 1px solid #cccccc;

    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      top: -23px;
      left: 45px;
      z-index: 20;
      border: solid 12px transparent;
      border-bottom-color: #eee;
    }

    &:after {
      top: -24px;
      z-index: 19;
      border-bottom-color: #ccc;
    }

    li {
      width: 120px;
      vertical-align: top;
      display: inline-block;
      padding: 10px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 5px;
      box-shadow: 0 1px 1px rgba(0,0,0,.04);
      border: 1px solid #e5e5e5;
      background: #fff;
      text-align: center;
      cursor: pointer;

      span {
        display: block;
        margin-bottom: 3px;
      }

      img {
        max-width: 100%;
        height: auto;
        display: block;
      }

      &:hover {
        background: #5b9dd9;
        color: #fff;
      }
    }
  }

}

.tr-builder-select-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  opacity: 0;
}

.builder-inputs {
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  border: 1px solid #e5e5e5;
  padding: 10px;
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &:after {
    content:'';
    display: block;
    clear: both;
    height: 0;
  }

  > *:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  > h1:first-child,
  > h2:first-child,
  > h3:first-child,
  > h4:first-child,
  > h5:first-child {
    margin: 0 -10px 15px;
    padding: 0 12px 8px;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    border-bottom: 1px solid #e5e5e5;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.4;
  }

}

.builder-field-group {
  display: none;

  &.active {
    display: block;
  }
}