.tr-builder {
  position: relative;

  &:after {
    content:'';
    display: block;
    clear: both;
  }

  .tr-builder-add-button {
    width: 100%;
  }

  .controls {
    float: left;

    .tr-components {
      width: 120px;
    }

    .tr-components li {
      box-shadow: 0 1px 1px rgba(0,0,0,.04);
      border: 1px solid #e5e5e5;
      text-align: center;
      position: relative;
      background: #fff;
      padding: 10px;
      list-style: none;
      margin-bottom: 10px;
      cursor: pointer;

      &.active {
        background: #5b9dd9;
        color: #fff;
      }

      .remove {
        font-family: dashicons;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        position: absolute;
        z-index: 10;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
        color: #9B9B9B;
        text-align: center;
        text-decoration: none;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      .remove:before {
        -webkit-font-smoothing: antialiased;
        font: normal 20px/1 'dashicons';
        content: "\f335";
      }

      &:hover .remove {
        display: block;
      }

      .remove {
        color: #A00;
        position: absolute;
        top: -8px;
        right: -8px;
        z-index: 11;
        text-decoration: none;
        border: solid #DFDFDF 1px;
        border-radius: 25px;
        background: #fff;
        font-size: 16px;
        line-height: 16px;
        height: 20px;
        width: 20px;
        padding: 3px;
        vertical-align: middle;
        display: none;

        &:hover {
          color: red;
        }
      }

    }

  }

  .tr-frame-fields {
    margin-left:  135px;
  }

  .tr-builder-select {
    flex-flow: wrap;
    display: none;
    position: absolute;
    z-index: 1000;
    top: 20px;
    left: 0;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width:  232px;
    background: #eee;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    border: 1px solid #e5e5e5;

    li {
      height: 100px;
      width: 100px;
      float: left;
      padding: 10px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 5px;
      box-shadow: 0 1px 1px rgba(0,0,0,.04);
      border: 1px solid #e5e5e5;
      background: #fff;
    }
  }

}

.tr-frame-fields {
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  border: 1px solid #e5e5e5;
  padding: 10px;

  .builder-inputs > *:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  .builder-inputs > h1:first-child,
  .builder-inputs > h3:first-child
  {
    margin: 0 -10px 15px;
    padding: 0 12px 8px;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    border-bottom: 1px solid #e5e5e5;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.4;
  }

}

.builder-field-group {
  display: none;

  &.active {
    display: block;
  }
}