.tr-builder {

  &:after {
    content:'';
    display: block;
    clear: both;
  }

  .controls {
    float: left;

    li {
      background: #fff;
      padding: 10px;
      list-style: none;
      margin-bottom: 10px;
    }

    .tr-components li {
      box-shadow: 0 1px 1px rgba(0,0,0,.04);
      border: 1px solid #e5e5e5;
    }

    ul {
      width: 100px;
    }

  }

  .tr-frame-fields {
    margin-left:  120px;
  }

  .builder-select-builder {
    display: none;
  }

}

.builder-field-group {
  display: none;

  &.active {
    display: block;
  }
}

.tr-components li.active {
  background: #5b9dd9;
  color: #fff;
}