#tr-dev-content {
  line-height: 1.5em;
  font-size: 14px;
}

#tr-dev-content code {
  display: inline-block;
  padding: 0 20px;
  border-left: 5px solid #84ac0e;
  }

#tr-dev-content code, #tr-dev-content pre code {
  background: #000;
  color: #fff;
  padding: 3px;
  font-size: 14px;
}

#adminmenu #toplevel_page_tr_dev .menu-icon-generic div.wp-menu-image:before {
  font: 400 15px/1.5em 'typerocket-icons' !important;
  content: "\e66d";
  speak: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}