.control-section + [class^=control-row],
[class^=control-row] + .control-section,
[class^=control-row] + [class^=control-row] {
    margin-top: 12px;
}

[class^=control-row] .control-section {
    display: inline-block;
    padding: 5px !important;
    box-sizing: border-box;
    margin-top: 0 !important;
    vertical-align: top;
}

[class^=control-row] {
    margin-left: -5px;
    margin-right: -5px;
    position: relative;
}

.control-row-2 .control-section {
    width: 50%;
}

.control-row-3 .control-section {
    width: 33.32%;
}

.control-row-4 .control-section {
    width: 25%;
}

.control-row-5 .control-section {
    width: 20%;
}

.control-row-6 .control-section {
    width: 16.62%;
}

.postbox-container .typerocket-container [class^=control-row],
.repeater-inputs [class^=control-row],
.tr-frame-fields [class^=control-row]
{
    padding-top: 15px;
}

.postbox-container .typerocket-container > [class^=control-row]:first-child {
    padding-top: 0;
}

.tr-frame-fields {
    h1, h2, h3, h4, h5, h6 {
        + [class^=control-row] {
            padding-top: 0;
        }
    }
}

.tr-frame-fields,
.repeater-inputs,
.postbox-container .typerocket-container {
    .control-section + [class^=control-row]:after,
    [class^=control-row] + [class^=control-row]:after,
    [class^=control-row] + .control-section:after
    {
        content: '';
        display: block;
        width: 100%;
        border-top: 1px solid #DFDFDF;
        border-bottom: 1px solid #fff;
        position: absolute;
        padding: 0 5px;
        left: -5px;
        top: 0;
    }
}

.postbox-container .typerocket-container
{
    [class^=control-row] + [class^=control-row]:after,
    .control-section + [class^=control-row]:after,
    [class^=control-row] + .control-section:after {
        padding: 0 7px;
        left: -7px;
    }

    [class^=control-row] + .control-section:after {
        padding: 0 12px;
        left: -12px;
    }

    [class^=control-row] + [class^=control-row],
    .control-section + [class^=control-row] {
        padding-top: 9px;
    }

    [class^=control-row] + .control-section {
        padding-top: 15px;
    }
}

.repeater-inputs
{
    [class^=control-row] + .control-section:after {
        padding: 0 10px !important;
        left: -10px;
    }

    [class^=control-row] + [class^=control-row],
    .control-section + [class^=control-row] {
        padding-top: 9px;
    }

    [class^=control-row] + .control-section {
        padding-top: 15px;
    }
}

.tr-frame-fields
{
    [class^=control-row] + .control-section:after {
        padding: 0 10px;
        left: -10px;
    }

    [class^=control-row] + [class^=control-row],
    .control-section + [class^=control-row] {
        padding-top: 9px;
    }

    [class^=control-row] + .control-section {
        padding-top: 15px;
    }
}

.postbox-container .typerocket-container [class^=control-row] .control-section + .control-section:after,
.repeater-inputs [class^=control-row] .control-section + .control-section:after,
.tr-frame-fields [class^=control-row] .control-section + .control-section:after
{
    content: '';
    display: none;
}

.inside .typerocket-container [class^=control-row] .control-section:first-child .control-label {
    margin-top: -4px;
}