.tr-tabbed-box {
    display: block;
    margin: 20px 20px -1px 0;
    border: 1px solid #DDD;
    position: relative;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.025);
    box-shadow: 0 1px 0 rgba(0,0,0,.025);
}

.tr-tabbed-box .tr-contextual-help-back,
.tr-tabbed-box .contextual-help-tabs .active,
.tr-tabbed-box .contextual-help-tabs .active a,
.tr-tabbed-box .contextual-help-tabs .active a:hover {
    background: #fefefe;
    outline: none;
    box-shadow: none;
}

.tr-tabbed-box .tr-contextual-help-back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 150px;
    right: 170px;
    border: 1px solid #e1e1e1;
    border-top: none;
    border-bottom: none;
}

.tr-contextual-help-columns {
    position: relative;
}

.tr-tabbed-box .help-tab-content {
    padding-top: 17px;
}

.tr-tabbed-box .contextual-help-tabs {
    float: left;
    width: 150px;
    margin: 0;
}

.tr-tabbed-box .contextual-help-tabs ul {
    margin: 1em 0;
}

.tr-tabbed-box .contextual-help-tabs li {
    margin-bottom: 0;
    list-style-type: none;
    border-style: solid;
    border-width: 0 0 0 2px;
    border-color: transparent;
}

.tr-tabbed-box .contextual-help-sidebar {
    width: 150px;
    float: right;
    padding: 0 8px 20px 12px;
    overflow: auto;
}

.tr-tabbed-box .contextual-help-tabs-wrap {
    padding: 0 20px;
    overflow: auto;
}

.tr-tabbed-box .contextual-help-tabs .active {
    padding: 0;
    margin: 0 -1px 0 0;
    border-left: 2px solid #00a0d2;
    background: #f6fbfd;
    -webkit-box-shadow: 0 2px 0 rgba(0,0,0,.02),0 1px 0 rgba(0,0,0,.02);
    box-shadow: 0 2px 0 rgba(0,0,0,.02),0 1px 0 rgba(0,0,0,.02);
}

.tr-tabbed-box .contextual-help-tabs .active a {
    border-color: #e1e1e1;
    color: #32373c;
}

.tr-tabbed-box .contextual-help-tabs a {
    display: block;
    padding: 5px 5px 5px 12px;
    line-height: 18px;
    text-decoration: none;
    border: 1px solid transparent;
    border-right: none;
    border-left: none;
}

.tr-tabbed-box input[type="submit"] {
    margin-top: 17px;
}

.tr-tabbed-box label {
    line-height: inherit;
}

.tr-tabbed-box .control-group {
    margin: 0;
    padding: 15px 0;
}

.tab-section.active {
    display: block;
}

.tabbed-sidebar {
    width: 25%;
    float: right;
}

.tabbed-sidebar + .tr-sections {
    float: left;
    width: 70%;
}

#wpbody #poststuff .postbox-container .tr-tabbed-top {
    margin: -6px -10px -8px -10px;
    padding: 0 8px 10px;
    background: #fff;
    position: relative;
    border-radius: 0 0 3px 3px;
}

.postbox-container .tr-tabbed-top .tabbed-sections .tr-tabs {
    background: #F5F5F5;
    padding: 5px 9px 0;
    margin: 0;
    overflow: hidden;
    zoom: 1;
    line-height: 1em;
    -webkit-box-shadow: inset 0 -1px 0 0 #d5d5d5;
    -moz-box-shadow: inset 0 -1px 0 0 #d5d5d5;
    box-shadow: inset 0 -1px 0 0 #d5d5d5;
}

.postbox-container .tabbed-sections .tr-tabs li a {
    margin: 0;
    float: left;
    padding: 9px 9px;
    background: #F1F1F1;
    text-decoration: none;
    color: #555;
    border: 1px solid #d5d5d5;
    box-shadow: none;
}

.postbox-container .tabbed-sections .tr-tabs li.active a {
    background: #fff;
    position: relative;
    border-bottom-color: #fff;
}

.postbox-container .tabbed-sections .tr-tabs li {
    float: left;
    padding: 0;
    margin: 0 5px 0 0;
    font-weight: normal;
    font-size: 13px;
    line-height: 1em;
}

#wpbody #poststuff .postbox-container .tabbed-sections {
    margin: 0 -10px 15px;
    padding-bottom: 0;
}

.tabbed-sections .tr-tabs li a {
    margin: 0;
    float: left;
    padding: 9px 9px;
    background: #F1F1F1;
    text-decoration: none;
    color: #555;
    border: 1px solid #d5d5d5;
    box-shadow: none;
}

.tabbed-sections .tr-tabs li {
    float: left;
    margin: 0 5px 0 0;
    padding: 6px 10px;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
}

.tr-tabs li.active a {
    background: #F5F5F5;
    position: relative;
    border-bottom-color: #F5F5F5;
    color: #000;
}

.tr-tabs li.active:hover a {
    background: #F5F5F5;
}

.tr-tabs li:hover a {
    background: #FFF;
}

.inside .tabbed .control-section + .control-section:after {
    padding: 0 10px 0 10px;
}

.tr-tabs {
    float: none;
    overflow: hidden;
    padding: 5px 20px 0
}

.tab-section {
    clear: both;
    width: 100%;
    display: none;
}

.tr-sections .control-group {
    padding: 15px 19px;
}

.tabbed-sidebar {
    float: right;
}

.tr-tabs li {
    display: inline;
    margin: 5px 0;
    padding: 5px;
}

.tabbed-sections {
    padding-bottom: 30px;
}

.tr-tabbed-top {
    padding-right: 30px;
}

#wpbody #poststuff .tr-tabbed-top  {
    padding-right: 0;
}

.tabbed-sections.ui-tabs {
    padding: 0;
}

.tabbed-sections .ui-tabs-hide {
    display: none !important;
}

.tabbed-sections .ui-widget-header {
    border: none;
}

.tabbed-sections .tr-tabs {
    padding: 5px 9px 0;
    margin: 0;
    overflow: hidden;
    zoom: 1;
    line-height: 1em;
    -webkit-box-shadow: inset 0 -1px 0 0 #d5d5d5;
    -moz-box-shadow: inset 0 -1px 0 0 #d5d5d5;
    box-shadow: inset 0 -1px 0 0 #d5d5d5;
}

.tabbed-sections .tr-tabs li {
    float: left;
    padding: 0;
    margin: 0 5px 0 0;
}

.tabbed-sections .tr-tabs li.alignright {
    float: right;
}

.tabbed-sections .tr-tabs li.hide {
    display: none;
}

.tabbed-sections .tr-tabs li a:active {
    box-shadow: none;
}

/* tabs help in post type */
#post-body-content #screen-meta.tr-tabbed-box {
    margin: 0 0 20px 4px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* inside without tabs */
#post-body-content .inside .control-group {
    padding: 15px 0;
    margin: 0;
}